{% extends "base.html" %}
{% block content %}

<script src="{{url_for('static', filename='monsterSort.js')}}"></script>
<div class='container monster-display-grid'>
    <div class='row'>
        <div class='col-md-4 text-left'>
            <form id='monster-sort' class='form sort-dropdown'>
                <select class='form-control' name='monster-sort'>
                    <option selected='selected' disabled='disabled'>Sort by monster type:</option>
                    <option value='good'>Good</option>
                    <option value='evil'>Evil</option>
                    <option value='conflicted'>Conflicted</option>
                    <option value='all'>All</option>
                </select>
            </form>
        </div>
        <div class='create-button-box col-sm-8'>
        {% if user_id %}
            <a href='/create' class='btn btn-secondary'>CREATE A MONSTER</a>
        {% endif %}
        </div>
    </div>
    <div class='card-columns'>
    {% for monster in monsters: %}
        <div class='card monster-card {{monster.intentions.lower()}}'>
            <img class='card-img-top center-block' src='{{monster.picture}}' alt='monster.name image'>
            <div class='card-block'>
                <h2 class='card-title'><strong>{{monster.intentions.upper()}} </strong><span class='monster-name'>{{monster.name}}</span></h2>
            </div>
            <ul class='list-group list-group-flush'>
                <li class='list-group-item'><strong>EATS </strong>{{monster.diet}}</li>
                <li class='list-group-item'><strong>ENJOYS </strong>{{monster.enjoys}}</li>
            </ul>
            {% if monster.creator == user_id %}
            <div class='card-block'>
                <a href='/edit/{{monster.id}}' class='btn btn-default'>Edit</a>
                <input type='submit' class='btn btn-default' value='Delete'>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}