{% extends "base.html" %}

{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <div id='login-alert' class="alert text-center hide">
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <div id='facebook-login' class='social-login-box'>
                <fb:login-button scope='public_profile,email' onlogin='facebookLogin();' data-size='large' class='login-button'>
                </fb:login-button>
            </div>
            <div id="google-login" class='social-login-box'>
                <span class="g-signin login-button"
                    data-scope="openid email"
                    data-clientid='478230017741-rd1hon3dcgt9eoutdkjd5lsiidat2gp5.apps.googleusercontent.com'
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="googleSignInCallback"
                    data-approvalprompt="force">
                </span>
            </div>
        </div>
    </div>  
</div>

<script>
    function loginSuccess() {
        $('#login-alert').empty();
        $('#login-alert').append(
            "<strong>Success!</strong> You are now logged in. Redirecting..."
        );
        $('#login-alert').addClass('alert-success');
        $('#login-alert').removeClass('hide');
        setTimeout(function() {
            window.location.href = "/";
        }, 2000);
    }

    function loginFailure() {
        $('#login-alert').empty();
        $('#login-alert').append(
            "<strong>Login failed.</strong> Please try again."
        );
        $('#login-alert').addClass('alert-danger');
        $('#login-alert').removeClass('hide');
    }

    function googleSignInCallback(authResult) {
        if (authResult['code']) {
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{session_token}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: loginSuccess,
                error: loginFailure
            }); 
        }
    }

    // Facebook JS SDK https://developers.facebook.com/docs/javascript
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1788759848038589',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.2'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  
    function facebookLogin() {
        var access_token = FB.getAuthResponse()['accessToken'];
        FB.api('/me', function(response) {
            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{session_token}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: loginSuccess,
                error: loginFailure
            });
        });
    };
</script>


{% endblock %}